@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
}
/* common part end
++++++++++++++++++ */

/* header part start 
====================*/
header {
  margin: 80px 0px;
}
.small-container {
  width: 1200px;
  margin: auto;
}
.small-container-items {
  display: grid;
  grid-template-columns: repeat(3, 700px 500px 100px);
  align-items: end;
}
.logo {
}
.logo-name {
}
nav {
}
nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
}
nav ul i {
}
.shopping-cart {
}
.shopping-cart i {
}

/* header part end 
==================*/

/* main part start */
main {
}

/* banner part start 
====================*/
.banner-part {
}
.banner-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  max-width: 50%;
  flex-basis: 50%;
}
.banner-heading {
  font-size: 52px;
  text-transform: capitalize;
  font-weight: 700;
  color: #3a3a3a;
}
.banner-paragraph {
  font-size: 16px;
  font-weight: 700;
  margin: 16px 0px;
  color: #3a3a3a;
}
.prebook-now {
  background-color: #e02c6d;
  border-radius: 40px;
  padding: 10px 24px;
  font-size: 20px;
  color: #fff;
  border: none;
}
.prebook-button {
  display: flex;
  flex-wrap: wrap;
  background-color: #e02c6d;
  padding: 10px 24px;
  border-radius: 41px;
  border: none;
  align-items: center;
}
.button-text {
  color: #fff;
}
.button-icon {
  font-size: 18px;
  color: #fff;
  padding-left: 6px;
}
.banner-img {
  max-width: 40%;
  flex-basis: 40%;
  background-image: url(images/products/Circle\ design.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.banner-img img {
  width: 100%;
}
/* banner part end 
==================*/

/* brand part start 
===================*/
.brand-part {
  margin: 80px 0px;
}
.gradient {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgb(28, 232, 21, 75),
    rgba(0, 0, 0, 0)
  );
  border-width: 0;
  width: 100%;
  display: block;

  height: 1px;
}

.brand-logo {
}
.brand-logos {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  margin: 30px 0px;
}
.brand-logos li {
  list-style: none;
}
.brand-logos li a {
}
.brand-logos li a img {
}

/* brand part end 
=================*/

/* popular collection start 
===========================*/
.popular-collection {
}
/* popular collection end 
=========================*/

/* brain stroming part start 
============================*/
.brain-stroming {
}
/* brain stroming part end 
==========================*/
/* main part end */

/* footer part start 
====================*/
footer {
}
/* footer part end 
==================*/
